.cardContainer {
   background: #fff;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
   border-radius: 10px;
   overflow: hidden;
   margin-bottom: 10px;
   max-width: 300px;
}
.cardContainer:hover {
   box-shadow: rgba(0, 0, 0, 0.1) 3px 5px 5px 2px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
   transition: all 0.5s;
}
.cardHeader {
   height: 250px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.cardMiddle{
   max-height: 100px;
   padding: 10px;
}
.cardMiddle p {
   font-size: 14px;
   color: rgb(106, 105, 105);
   text-align: justify;
   padding: 0 15px 20px;
}
.cardFooter {
   border-top: 1px solid rgb(196, 193, 193);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 20px;
}

.cardFooter button {
   all: unset;
   background-color: #0070f3;
   color: #fff;
   border-radius: 10px;
   padding: 5px;
   font-size: 14px;
   cursor: pointer;
   transition: all 0.3s ease;
}
.cardFooter button:hover {
   background: #0059c9;
}
