.navbar {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(228, 228, 228);
}
.containerNav {
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.navbar ul li {
  padding: 0 15px;
}
.navbar ul li a {
  text-decoration: none;
  color: rgb(58, 57, 57);
}
.navbar ul li a:hover {
  text-decoration: underline;
  color: rgb(17, 17, 17);
}
.navbar ul li:nth-child(1) {
  display: none;
}
.navbar ul li:nth-child(1) svg {
  vertical-align: sub;
}
.navbar ul li:nth-child(1):hover {
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .navbar ul li:nth-child(1) {
    display: block;
  }
}
.containerLogin {
  display: flex;
}
.bag {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background: #0d6efd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  margin-right: 30px;
  margin-top: -10px;
  margin-left: 0px;
}
.bag span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(68, 67, 67);
  color: rgb(252, 250, 250);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -8px;
  right: -8px;
}
.containerLogin {
  margin-top: 27px;
}
.login {
  all: unset;
  cursor: pointer;
}

.login:hover {
  color: #03aa03;
}
