.container {
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  color: white;
  z-index: 0.5;
  margin-top: 90px;
  margin-bottom: 30px;
}
.container a {
  text-decoration: none;
  color: inherit;
}
.box {
 color: black;
 background-color: #f9f9f9;
  padding: 12px 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-weight: 500;
}

.box:hover {
  /* background-color: #007bff; */
  border: 1px solid black;
  border-left: 8px solid ;
}
.active {
  /* background-color: #007bff; */
   border: 1px solid black;
   border-left: 8px solid ;
}

.box p {
  margin: 0;
  font-size: 16px;
}

.box a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
}
.container svg{
  position: absolute;
  right: 170px;
}
@media (max-width: 1000px) {
  .container {
    margin-top: 0px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0;
    box-shadow: none;
  }
.container svg{
  visibility: hidden;
}
  .box {
    flex: 1;
  }
}
