.subMenu {
    width: 300px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  right: -20px;
}
.subMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.subMenu ul li {
  border-bottom: 1px solid #ddd;
  margin: 0;
  cursor: pointer;
  transition: background 0.3s;
}

.subMenu ul li:last-child {
  border-bottom: none;
}

.subMenu ul li:hover {
  background: #f5f5f5;
}
.subMenu ul li a {
  padding: 12px 16px;
  width: 100%;
}
