.historyBox {
  width: 95%;
  height: 200px;
  background-color: #cfd2d4;
  position: relative;
  top: -20px;
  margin-right: auto;
  margin-left: auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: center;
  overflow: auto;
   overflow-y: auto; /* یا overflow: auto; */
  -ms-overflow-style: none;  /* برای IE و Edge قدیمی */
  scrollbar-width: none;  
}

.containerOrdar {
  width: 90%;
  position: relative;
  top: 20px;
  margin: 0 auto;
   overflow-y: auto; /* یا overflow: auto; */
  -ms-overflow-style: none;  /* برای IE و Edge قدیمی */
  scrollbar-width: none;  
 
}

.historyBox {
  width: 95%;
  max-height: 400px;
  background-color: #fff;
  margin: 0 auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px 0;
}

.containerOrdar h2 {
  margin: 0 0 10px 0;
  text-align: center;
}

.orderCard {
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.orderHeader {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.itemsContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.itemCard {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  margin: 0 auto;
}

.itemCard img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
