.container {
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-top: 40px;
  max-width: 750px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
}
.containerOrders {
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 400px;
  margin-top: 30px;
}
.container input {
  width: 250px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  margin-inline-end: 10px;
  transition: all 0.2s ease;
}

.container input:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

.container button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.container button:hover {
  background-color: #0056b3;
}
.container h1 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}
.containerOrdar {
  width: 90%;
  position: relative;
  top: 20px;
  margin: 0 auto;
  overflow-y: auto; /* یا overflow: auto; */
  -ms-overflow-style: none; /* برای IE و Edge قدیمی */
  scrollbar-width: none;
}

.historyBox {
  width: 95%;
  max-height: 400px;
  background-color: #cfd2d4;
  margin: 0 auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px 0;
}

.containerOrdar h2 {
  margin: 0 0 10px 0;
  text-align: center;
}

.orderCard {
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.orderHeader {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.itemsContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.itemCard {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  margin: 0 auto;
}

.itemCard img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
.sabt:hover {
  color: green;
}
.changState{
  display: flex;
}
@media (max-width: 1000px) {
  .container {
    margin-top: -20px;
  }
}
