.searchingContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 16px;
}
.search{
    all: unset;
    padding: 10px;
    border: 1px solid rgb(185, 185, 185);
    background: #fff;
    width: 500px;
    border-radius: 10px;
}
